{% load static %}
<!doctype html>
<html class="no-js" lang="zxx">

    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>Montana</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- <link rel="manifest" href="site.webmanifest"> -->
        <link rel="shortcut icon" type="image/x-icon"
            href="{% static 'user/img/favicon.png' %}">
        <!-- Place favicon.ico in the root directory -->

        <!-- CSS here -->
        <link rel="stylesheet" href="{% static 'user/css/bootstrap.min.css' %}">
        <link rel="stylesheet"
            href="{% static 'user/css/owl.carousel.min.css' %}">
        <link rel="stylesheet"
            href="{% static 'user/css/magnific-popup.css' %}">
        <link rel="stylesheet"
            href="{% static 'user/css/font-awesome.min.css' %}">
        <link rel="stylesheet" href="{% static 'user/css/themify-icons.css' %}">
        <link rel="stylesheet" href="{% static 'user/css/nice-select.css' %}">
        <link rel="stylesheet" href="{% static 'user/css/flaticon.css' %}">
        <link rel="stylesheet" href="{% static 'user/css/gijgo.css' %}">
        <link rel="stylesheet" href="{% static 'user/css/animate.css' %}">
        <link rel="stylesheet" href="{% static 'user/css/slicknav.css' %}">
        <link rel="stylesheet" href="{% static 'user/css/style.css' %}">
        <!-- <link rel="stylesheet" href="css/responsive.css"> -->
    </head>

    <body>
        <!--[if lte IE 9]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="https://browsehappy.com/">upgrade your browser</a> to improve your experience and security.</p>
        <![endif]-->
        <!-- header-start -->
        {% include 'nav.html' %}
        <!-- header-end -->

        {% block content %}
        {% endblock %}

        <!-- JS here -->
        <script src="{% static 'user/js/vendor/modernizr-3.5.0.min.js' %}"></script>
        <script src="{% static 'user/js/vendor/jquery-1.12.4.min.js' %}"></script>
        <script src="{% static 'user/js/popper.min.js' %}"></script>
        <script src="{% static 'user/js/bootstrap.min.js' %}"></script>
        <script src="{% static 'user/js/owl.carousel.min.js' %}"></script>
        <script src="{% static 'user/js/isotope.pkgd.min.js' %}"></script>
        <script src="{% static 'user/js/ajax-form.js' %}"></script>
        <script src="{% static 'user/js/waypoints.min.js' %}"></script>
        <script src="{% static 'user/js/jquery.counterup.min.js' %}"></script>
        <script src="{% static 'user/js/imagesloaded.pkgd.min.js' %}"></script>
        <script src="{% static 'user/js/scrollIt.js' %}"></script>
        <script src="{% static 'user/js/jquery.scrollUp.min.js' %}"></script>
        <script src="{% static 'user/js/wow.min.js' %}"></script>
        <script src="{% static 'user/js/nice-select.min.js' %}"></script>
        <script src="{% static 'user/js/jquery.slicknav.min.js' %}"></script>
        <script src="{% static 'user/js/jquery.magnific-popup.min.js' %}"></script>
        <script src="{% static 'user/js/plugins.js' %}"></script>
        <script src="{% static 'user/js/gijgo.min.js' %}"></script>
        <!--contact js-->
        <script src="{% static 'user/js/contact.js' %}"></script>
        <script src="{% static 'user/js/jquery.ajaxchimp.min.js' %}"></script>
        <script src="{% static 'user/js/jquery.form.js' %}"></script>
        <script src="{% static 'user/js/jquery.validate.min.js' %}"></script>
        <script src="{% static 'user/js/mail-script.js' %}"></script>
        <script src="{% static 'user/js/main.js' %}"></script>
        <script>
        $('#datepicker').datepicker({
            iconsLibrary: 'fontawesome',
            icons: {
             rightIcon: '<span class="fa fa-caret-down"></span>'
         }
        });
        $('#datepicker2').datepicker({
            iconsLibrary: 'fontawesome',
            icons: {
             rightIcon: '<span class="fa fa-caret-down"></span>'
         }

        });
    </script>
    </body>

</html>