

{% extends 'base.html' %}
{% load static %}

{% block content %}
<!-- bradcam_area_start -->
<div class="bradcam_area breadcam_bg" id="header_image">
</div>
<!-- bradcam_area_end -->
<div class="offers_area padding_top" id="offers_area">
    <div class="container">
        <div class="row">
            <div class="col-xl-12">
                <div class="section_title text-center mb-100">
                    {% if 'userid' in request.session %}
                    <h3>{{request.session.name}}'s Bookings</h3>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>
<div class="whole-wrap">
    {% if data is not None %}
    <div class="container" id="signup-container">
        <div class="table-responsive">
            <table class="table align-items-center table-flush">
                <thead class="thead-light">
                    <tr>
                        <th>Turf</th>
                        <th>Location</th>
                        <th>Booking Date</th>
                        <th>Booking Time</th>
                        <th>Status</th>
                        <th>Delete</th>
                    </tr>
                </thead>
                <tbody>
                    {% for i in data%}
                    <tr>
                        <td>{{i.turfid.name}}</td>
                        <td>{{i.turfid.location}}</td>
                        <td>{{i.date}}</td>
                        <td>{{i.time}}</td>
                        <td>{{i.status}}</td>
                        <td><a href="{% url 'delete-booking' id=i.id %}"><button>Delete</button></a></td>
                    </tr>
                    {% endfor %}

                </tbody>
            </table>
        </div>
    </div>
    {% else %}
    <div>
        <p>No bookings have been made</p>
    </div>
    {% endif %}
</div>
{% endblock %}
