
<header>
    <div class="header-area" id="navbar">
        <div id="sticky-header" class="main-header-area">
            <div class="container-fluid p-0">
                <div class="row align-items-center no-gutters">
                    <div class="col-xl-5 col-lg-6">
                        <div class="main-menu d-none d-lg-block">
                            <nav>
                                <ul id="navigation">
                                    <li><a href="{% url 'home' %}">Home</a></li>
                                    <li><a href="{% url 'viewTurfs' %}">Turfs</a></li>
                                    {% if 'userid' in request.session %}
                                    <li><a href="about.html">View Bookings</a></li>
                                    {% endif %}
                                    <li><a href="about.html">About</a></li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                    <div class="col-xl-2 col-lg-2">
                        <div class="logo-img">
                            <a href="index.html">
                            </a>
                        </div>
                    </div>
                    <div class="col-xl-5 col-lg-4 d-none d-lg-block">
                        <div class="book_room">
                            {% if 'userid' in request.session %}
                            <div class="book_btn d-none d-lg-block">
                                <a href="{% url 'logout' %}">Log Out</a>
                            </div>
                            {% else %}
                            <div class="book_btn d-none d-lg-block">
                                <a href="{% url 'login_view' %}">Login</a>
                            </div>
                            <div class="book_btn d-none d-lg-block">
                                <a href="{% url 'register' %}">Register</a>
                            </div>
                            {% endif %}
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="mobile_menu d-block d-lg-none"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>