

{% extends 'base.html' %}
{% load static %}

{% block content %}

<div class="whole-wrap">
    <div class="container" id="signup-container">
        <!-- form itself end-->
        <div class="section-top-border">
            <h3 class="mb-30">Welcome! Please Register</h3>
            <div class="row">
                <div class="col-lg-8 col-md-8">
                    <form action="{% url 'register' %}" method="post"
                        enctype="multipart/form-data">
                        {% csrf_token %}
                        <div class="mt-10">
                            <label for="primary-input">First Name</label>
                            <input type="text" name="first_name"
                                placeholder="First Name">
                        </div>
                        <div class="mt-10">
                            <label for="primary-input">Last Name</label>
                            <input type="text" name="last_name"
                                placeholder="Last Name"
                                name="last_name">
                        </div>
                        <div class="mt-10">
                            <label for="primary-input">Email</label>
                            <input type="email" name="email"
                                placeholder="Email"
                                name="email">
                        </div>
                        <div class="mt-10">
                            <label for="primary-input">Password</label>
                            <input type="password"
                                id="password" name="password1" value=""
                                placeholder="Password">
                        </div>
                        <div class="mt-10">
                            <label for="primary-input">Repeat Password</label>
                            <input type="password"
                                id="password" name="password2" value=""
                                placeholder="Password">
                        </div>
                        <div class="button-group-area mt-10">
                            <button type='submit' class="genric-btn success
                                circle">Register<span
                                    class="lnr lnr-arrow-right"></span>
                            </div>

                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

    {% endblock %}
