

{% extends 'base.html' %}
{% load static %}

{% block content %}

<!-- Start Align Area -->
<div class="whole-wrap">
    <div class="container" id="signup-container">
        <!-- form itself end-->
        <div class="section-top-border">
            <h3 class="mb-30">Welcome! Please Register</h3>
            <div class="row">
                <div class="col-lg-8 col-md-8">
                    <form action="#">
                        <div class="mt-10">
                            <input type="text" name="first_name"
                                placeholder="First Name">
                        </div>
                        <div class="mt-10">
                            <input type="text" name="last_name"
                                placeholder="Last Name"
                                name="last_name">
                        </div>
                        <div class="mt-10">
                            <input type="email" name="email"
                                placeholder="Email"
                                name="email">
                        </div>
                        <div class="mt-10">
                            <input type="password"
                                id="password" name="password" value=""
                                placeholder="Password">
                        </div>
                        <div class="mt-10">
                            <input type="password"
                                id="password" name="password" value=""
                                placeholder="Password">
                        </div>
                        <div class="button-group-area mt-10">
                            <a href="#" class="genric-btn success-border">Register</a>
                        </div>

                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Align Area -->



{% endblock %}
<!-- form itself end -->