

{% extends 'base.html' %}
{% load static %}

{% block content %}

<!-- Start Align Area -->
<div class="whole-wrap">
    <div class="container" id="signup-container">
        <!-- form itself end-->
        <div class="section-top-border">
            <div class="row">
                <div class="col-lg-8 col-md-8">
                    <h3 class="mb-30">Form Element</h3>
                    <form action="#">
                        <div class="mt-10">
                            <input type="text" name="first_name"
                                placeholder="First Name"
                                onfocus="this.placeholder= ''"
                                onblur="this.placeholder= 'First Name'"
                                required
                                class="single-input">
                        </div>
                        <div class="mt-10">
                            <input type="text" name="last_name"
                                placeholder="Last Name"
                                onfocus="this.placeholder= ''"
                                onblur="this.placeholder= 'Last Name'"
                                required
                                class="single-input">
                        </div>
                        <div class="mt-10">
                            <input type="text" name="last_name"
                                placeholder="Last Name"
                                onfocus="this.placeholder= ''"
                                onblur="this.placeholder= 'Last Name'"
                                required
                                class="single-input">
                        </div>
                        <div class="mt-10">
                            <input type="email" name="EMAIL"
                                placeholder="Email address"
                                onfocus="this.placeholder= ''"
                                onblur="this.placeholder= 'Email
                                address'" required
                                class="single-input">
                        </div>
                        <div class="input-group-icon mt-10">
                            <div class="icon"><i class="fa
                                    fa-thumb-tack" aria-hidden="true"></i></div>
                            <input type="text" name="address"
                                placeholder="Address"
                                onfocus="this.placeholder= ''"
                                onblur="this.placeholder= 'Address'"
                                required class="single-input">
                        </div>
                        <div class="input-group-icon mt-10">
                            <div class="icon"><i class="fa fa-plane"
                                    aria-hidden="true"></i></div>
                            <div class="form-select"
                                id="default-select"">
                                <select>
                                    <option value=" 1">City</option>
                                    <option value="1">Dhaka</option>
                                    <option value="1">Dilli</option>
                                    <option value="1">Newyork</option>
                                    <option value="1">Islamabad</option>
                                </select>
                            </div>
                        </div>
                        <div class="input-group-icon mt-10">
                            <div class="icon"><i class="fa fa-globe"
                                    aria-hidden="true"></i></div>
                            <div class="form-select"
                                id="default-select"">
                                <select>
                                    <option value=" 1">Country</option>
                                    <option value="1">Bangladesh</option>
                                    <option value="1">India</option>
                                    <option value="1">England</option>
                                    <option value="1">Srilanka</option>
                                </select>
                            </div>
                        </div>

                        <div class="mt-10">
                            <textarea class="single-textarea"
                                placeholder="Message"
                                onfocus="this.placeholder= ''"
                                onblur="this.placeholder= 'Message'"
                                required></textarea>
                        </div>
                        <!-- For Gradient Border Use -->
                        <!-- <div class="mt-10">
										<div class="primary-input">
											<input id="primary-input" type="text" name="first_name" placeholder="Primary color" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Primary color'">
											<label for="primary-input"></label>
										</div>
									</div> -->
                        <div class="mt-10">
                            <input type="text" name="first_name"
                                placeholder="Primary color"
                                onfocus="this.placeholder= ''"
                                onblur="this.placeholder= 'Primary
                                color'" required
                                class="single-input-primary">
                        </div>
                        <div class="mt-10">
                            <input type="text" name="first_name"
                                placeholder="Accent color"
                                onfocus="this.placeholder= ''"
                                onblur="this.placeholder= 'Accent
                                color'" required
                                class="single-input-accent">
                        </div>
                        <div class="mt-10">
                            <input type="text" name="first_name"
                                placeholder="Secondary color"
                                onfocus="this.placeholder= ''"
                                onblur="this.placeholder= 'Secondary
                                color'"
                                required class="single-input-secondary">
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Align Area -->



{% endblock %}
<!-- form itself end -->