
{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="offers_area padding_top">
    <div class="container">
        <div class="row">
            {% for i in data %}
            <div class="col-xl-4 col-md-4" id="single_turf">
                <div class="single_offers">
                    <div class="about_thumb">
                        <img src="{{i.image.url}}" style="width: 350px;
                            height:200px;">
                    </div>
                    <h3>{{i.name}}</h3>
                    <ul>
                        <li>{{i.location}}</li>
                        <li>${{i.price}}/hr</li>
                    </ul>
                    <a href="{% url 'viewTurf' id=i.id %}" class="book_now">book
                        now</a>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
<!-- offers_area_end -->
{% endblock %}