
{% extends 'base.html' %}
{% load static %}

{% block content %}


<!-- bradcam_area_start -->
<div class="bradcam_area breadcam_bg" id="header_image">
</div>
<!-- bradcam_area_end -->

<!--================Blog Area =================-->
<section class="blog_area single-post-area section-padding">
   <div class="container">
      <div class="row">
         <div class="col-lg-8 posts-list">
            {% for i in data %}
            <div class="single-post">
               <div class="feature-img">
                  <img class="img-fluid" src="{{i.image.url}}" style="height:
                     300px; width: 500px;"
                     alt="">
               </div>
               <div class="blog_details">
                  <h2>{{i.name}}
                  </h2> <ul class="blog-info-link mt-3 mb-4">
                     <li><a href="#"><i class="fa fa-user"></i> {{i.location}}</a></li>
                  </ul>
                  <p class="excert">
                     {{i.description}}
                  </p>
               </div>
            </div>
            {% endfor %}
         </div>
      </div>
      <form action="{% url 'bookTurf' %}" method="post"
         enctype="multipart/form-data">
         {% csrf_token %}
         <input class="datepicker" type="date" id="date" name="date">
         <input type='hidden' value="{{id}}" name="turf">
         <div>
            <select id="time" name="time">
               {% for i in time %}
               <option value="{{i.id}}">{{i}}</option>
               {% endfor %}
            </select>
         </div>
         <button class="'book_now" type="submit">Book Now</button>
      </form>
   </div>
</section>
<!--================ Blog Area end =================-->
{% endblock %}