
{% extends 'base.html' %}
{% load static %}

{% block content %}


<!-- bradcam_area_start -->
<div class="bradcam_area breadcam_bg" id="header_image">
</div>
<!-- bradcam_area_end -->
<div class="offers_area padding_top" id="offers_area">
   <div class="container">
      <div class="row">
         <div class="col-xl-12">
            <div class="section_title text-center mb-100">
               <span>Our Offers</span>
               <h3>Ongoing Offers</h3>
            </div>
         </div>
      </div>
   </div>
</div>
<!--================Blog Area =================-->
<!-- about_area_start -->
<div class="about_area" id="singleturf-container">
   <div class="container">
      {% for i in data %}
      <div class="row">
         <div class="col-xl-5 col-lg-5">
            <div class="about_info">
               <div class="section_title mb-20px">
                  <h3>{{i.name}}</h3>
                  <h5>{{i.location}}</h5>
                  <h5>${{i.price}}/ 30 mins</h5>
               </div>
               <p>{{i.description}}</p>
            </div>
         </div>
         <div class="col-xl-7 col-lg-7" id="singleturf-image">
            <div class="about_thumb d-flex">
               <div class="img_1">
                  <img src="{{i.image.url}}" style="height:
                     300px; width: 500px;" alt="">
               </div>
            </div>
         </div>
      </div>
      {% endfor %}
      <form action="{% url 'bookTurf' %}" method="post"
         enctype="multipart/form-data">
         {% csrf_token %}
         <input type="hidden" value="{{id}}" name="turf">
         {{ form.as_p }}
         <button class="genric-btn info radius" type="submit">Book Now</button>
      </form>
   </div>
</div>
<!-- <section class="blog_area single-post-area section-padding">
   <div class="container">
      <div class="row">
         <div class="col-lg-8 posts-list">
            {% for i in data %}
            <div class="single-post">
               <div class="feature-img">
                  <img class="img-fluid" src="{{i.image.url}}" style="height:
                     300px; width: 500px;"
                     alt="">
               </div>
               <div class="blog_details">
                  <h2>{{i.name}}
                  </h2> <ul class="blog-info-link mt-3 mb-4">
                     <li><a href="#"><i class="fa fa-user"></i> {{i.location}}</a></li>
                  </ul>
                  <p class="excert">
                     {{i.description}}
                  </p>
               </div>
            </div>
            {% endfor %}
         </div>
      </div>
      <form action="{% url 'bookTurf' %}" method="post"
         enctype="multipart/form-data">
         {% csrf_token %}
         <input type="hidden" value="{{id}}" name="turf">
         {{ form.as_p }}
         <button class="'book_now" type="submit">Book Now</button>
      </form>
   </div>
</section> -->
<!--================ Blog Area end =================-->

{% endblock %}